:root {
  /* bg_color */
  --main_bg_color: #407c49;
  --second_bg_color: #e6e6e6;
  /* text_color */
  --main_text_color: #333e48;
  /* accent_color */
  --main_accent_color: #f0610d;
  --second_accent_color: #ee0000;
}
<<<<<<< Updated upstream
*,
*::before,
*::after {
  box-sizing: border-box;
}
=======
>>>>>>> Stashed changes

h1,
h2,
h3,
h4,
h5,
h6,
p {
<<<<<<< Updated upstream
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

=======
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
>>>>>>> Stashed changes
a {
  text-decoration: none;
}

<<<<<<< Updated upstream
link {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
=======
ul {
  list-style: none;
  margin: 0;
  padding: 0;
>>>>>>> Stashed changes
}

body {
  font-size: 14px;
<<<<<<< Updated upstream
  font-family: 'Open Sans', sans-serif;
=======
  font-family: 'Roboto Slab', serif;
>>>>>>> Stashed changes
  color: var(--main_text_color);
}

/* -----=====HEADER=====----- */
<<<<<<< Updated upstream
.info__bar {
  height: 120px;
  background-color: var(--main_bg_color);
  margin: 0 auto;
}
.info__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info__list--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.info__item--text {
  color: #fff;
  margin-left: 10px;
}
.lang__list {
  display: flex;
}
.lang__list--item {
}
.lang__list--item:not(:last-child) {
  margin-left: 10px;
}
.social__list {
  display: flex;
}
.social-link {
}
.social-link:not(last-child) {
  margin-left: 10px;
}
=======
>>>>>>> Stashed changes
