:root {
  /* bg_color */
  --main_bg_color: #407c49;
  --second_bg_color: #e6e6e6;
  /* text_color */
  --main_text_color: #333e48;
  /* accent_color */
  --main_accent_color: #f0610d;
  --second_accent_color: #ee0000;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

link {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: var(--main_text_color);
}
